/* https://s9a.page/tape */
:root{--tape-filter:none;--tape-bluv:#11dff1;--tape-play:#fbbfff;--tape-loud:#eee833;--tape-luvu:#44f477;--tape-blaq:#0e0e0e;--tape-watt:#e0e0e0;--tape-hex:#e0e0e0;--tape-mix:transparent}.tape-watt{--tape-hex:var(--tape-watt)}.tape-luvu{--tape-hex:var(--tape-luvu)}.tape-loud{--tape-hex:var(--tape-loud)}.tape-play{--tape-hex:var(--tape-play)}.tape-bluv{--tape-hex:var(--tape-bluv)}.tape-flat{border-color:transparent}.tape-flap{border-color:currentColor}.tape-flow{--tape-remix:none}.tape-flow :not(.tape-skip){background-color:transparent;color:inherit}.tape-blaq,.tape-bluv,.tape-loud,.tape-luvu,.tape-play,.tape-watt{--tape-mix:var(--tape-hex);--tape-remix:none;color:var(--tape-blaq)!important;background-color:var(--tape-mix)!important;background-image:var(--tape-remix);filter:var(--tape-filter)}.tape-blaq{--tape-mix:var(--tape-blaq);color:var(--tape-hex)!important}.tape-erase,.tape-erase *{color:transparent!important}

/* play */

:root {
  --tape-watt: seashell;
  --tape-play: hotpink;
  --tape-loud: orange;
  --tape-luvu: #ec0;
  --tape-bluv: skyblue;
  --tape-blaq: purple;
  background-image: radial-gradient(
    purple, indigo, darkviolet
  );
}

::selection {
  background: darkviolet;
  color: turquoise;
}

:focus {
  outline: .5rem dotted;
}

@media (prefers-contrast: more) {
  :root { --tape-blaq: midnightblue }
  ::selection { background: indigo }
  :focus { outline-color: yellow }
}

.uvi {
  text-shadow:
    0 1vh 0 darkviolet,
    0 2vh 0 blueviolet;
}

.omg {
  text-shadow:
    0 1vh 0 orangered,
    0 2vh 0 orangered,
    -2rem -2rem 2pc orange,
    -1rem -1rem 1pc orange,
    3rem -3rem 3pc darkorange,
    5rem -5rem 5pc darkorange;
}

.toe {
  text-shadow:
    0 3vh 0 salmon,
    0 5vh 0 skyblue,
    0 8vh 0 mediumpurple;
}

.oral {
  text-shadow:
    1ch 0 1ch coral,
    -1ch 0 1ch coral;
}

.ping {
  text-shadow:
    0 .2em 0 purple,
    1rem -1rem 3pc darkorange,
    -1rem 1rem 3pc orange;
}

.wind {
  --tape-remix: linear-gradient(salmon, transparent, orange);
  text-shadow:
    -3rem -1rem 2pc magenta,
    -2rem -2rem 2pc magenta,
    -1rem -3rem 2pc magenta,
    1rem -1rem 2pc orchid,
    2rem -2rem 3pc orchid,
    3rem -3rem 3pc orchid;
}

.aura {
  --tape-remix: linear-gradient(plum, transparent, skyblue);
  text-shadow:
    -3rem -1rem 2pc magenta,
    -2rem -2rem 2pc magenta,
    1rem -1rem 2pc mediumpurple,
    2rem -2rem 3pc mediumorchid;
}
